<template id='cell-template'>
<div v-if='typeof v!="undefined" && v!={}'>
	<span v-if='header.column_type=="WikiPage"'>
		<span v-if="typeof v=='string'">
			{{v}}
		</span>
		<span v-else-if='v.wiki=="wikidatawiki" && [0,120].indexOf(v.namespace_id) != -1'>
			<wd-link :item='value' smallq='1'></wd-link>
		</span>
		<span v-else-if='v.wiki=="commonswiki" && v.namespace_id==6'>
			<span style="text-align: center; width:120px; display: inline-block;">
				<commons-thumbnail :filename="v.title" width="120" :key="v.title"></commons-thumbnail>
			</span>
			<span style="margin-left:0.5rem; vertical-align: top;">{{v.title}}</span>
		</span>
		<span v-else>
			<a v-if="typeof v.title!='undefined'" :href="get_wiki_link()" target="_blank" class="wikipedia">{{v.title.replace(/_/g," ")}}</a>
		</span>
	</span>
	<span v-else-if='header.column_type=="String"'>
		{{v}}
	</span>
	<span v-else>
		<i>{{v}}</i>
	</span>
</div>
</template>


<script>
'use strict';

Vue.component ( 'cell' , {
    props : [ 'header' , 'value' ] ,
    data : function () { return { v:{} } } ,
    created : function () {
    	if ( this.header.column_type=="WikiPage" ) {
    		let v = this.value;
    		if ( typeof v=="string" ) v = {"title":v};
    		v.wiki = v.wiki ?? this.header.wiki;
    		v.namespace_id = v.namespace_id ?? this.header.namespace_id ?? 0;
    		ns_cache.load_namespaces([v.wiki],()=>{
	    		v.prefixed_title = ns_cache.prefix_with_namespace(v.wiki,v.namespace_id,v.title) ;
    			this.v = v;
    		});
    	} else {
    		this.v = this.value;
    	}
    	//console.log(JSON.parse(JSON.stringify(this.header)))
    },
    updated : function () { tt.updateInterface(this.$el) } ,
    mounted : function () { tt.updateInterface(this.$el) } ,
    methods : {
    	get_wiki_link() {
    		//console.log(JSON.parse(JSON.stringify(this.value)));
    		//console.log(JSON.parse(JSON.stringify(this.v)));
    		let server = ns_cache.get_server_for_wiki(this.v.wiki);
    		let url = "https://"+server+"/wiki/"+encodeURIComponent(this.v.prefixed_title) ;
    		return url;
    	}
    } ,
    template : '#cell-template'
} ) ;

</script>
