<style>
.short-form-control {
	display:inline;
	width:auto;
}
 .margin-left {
 	margin-left: 0.5rem;
 }
 .top-distance {
	margin-top: 2rem;
 }
</style>

<template id="create-header-page-template">
	<div class="container mt-2">
	<div v-if="!user().is_logged_in" class="row" tt="log_in_for_actions">
	</div>
	<div v-if="user().is_logged_in" class="row">
		<div class="col-md-12">
			<h1 tt="create_new_header"></h1>
			<form @submit.prevent="submit_form" class="form-inline">
				<div>
					<span tt="name"></span>
					<input type="text" class="form-control" v-model="name" tt_placeholder="new_header_name" style="width:15rem" />
				</div>
				<input type="submit" :class="'btn btn-outline-primary'" tt_value="create_new_header" />
				<span v-if="message!=''" style="margin-left:1rem; color:red;">
					{{message}}
				</span>
			</form>
		</div>
	</div>
	<div v-if="loading" class="row top-distance">
		<i tt="autodetecting_headers"></i>
	</div>
	<div v-else-if="user().is_logged_in" class="row top-distance">
		<div class="col-md-12">
			<h2 tt="columns"></h2>
			<table class="table">
				<tr v-for="col,col_idx in columns">
					<th>
						{{col_idx+1}}
					</th>
					<td style="width:100%;">
						<select v-model="col.column_type" class="form-control short-form-control">
							<option value="WikiPage" tt="wikipage"></option>
							<option value="String" tt="string"></option>
						</select>
						<span v-if="col.column_type=='WikiPage'" class="margin-left">
							<span tt="wiki"></span><input type="text" v-model="col.wiki" class="form-control short-form-control" />
							<span tt="namespace_id"></span><input type="text" v-model="col.namespace_id" class="form-control short-form-control" />
						</span>
						<span v-else-if="col.column_type=='String'" class="margin-left">
							<!-- Nothing -->
						</span>
					</td>
					<td>
						<button class="btn btn-outline-danger" tt="delete" @click.prevent="columns.splice(col_idx,1)"></button>
					</td>
				</td>
			</table>
			<button class="btn btn-outline-success" tt="create_new_column" @click.prevent="create_new_column"></button>
		</div>
	</div>
	<div v-if="!loading && rows.length>0" class="row top-distance">
		<h2 tt="preview"></h2>
		<table class="table">
            <tr>
                <th v-for='column,idx in columns'>#{{idx+1}}: {{column.label||autoLabel(column)}}</th>
            </tr>
            <tr v-for="row,rownum in rows" :key="rownum">
                <td v-for="cell,idx in row.c">
                    <cell :value='cell' :header='columns[idx]'></cell>
                </td>
            </tr>
        </table>

	</div>
	</div>
</template>
	
<script>
"use strict";


let CreateHeaderPage = Vue.extend ( {
	props : ['source_id','list_id'] ,
	data : function () { return { name:"", message:'', columns:[], rows:[], loading:true } } ,
	created : function () {
		let url = "/source/header/"+this.source_id;
		fetch(url)
			.then((response) => response.json())
			.then((d) => {
				this.columns = d.headers.schema.columns;
				this.rows = d.rows;
				this.loading = false;
			});
	},
	updated : function () { tt.updateInterface(this.$el) } ,
	mounted : function () { tt.updateInterface(this.$el) } ,
	methods : {
		update_from_source() { // Updates the list from the new source, using the new header schema
			let url = "/source/update/"+this.source_id;
            fetch(url)
                .then((response) => response.json())
                .then((d) => {
                	if ( d.status=="OK" ) {
						if ( typeof this.list_id!="undefined" ) {
							let url = "/list/"+this.list_id;
							this.$router.push(url);
							return;
						}
                		alert(tt.t("successfully_created"))
                		this.name = "" ;
                		this.columns = [] ;
                		this.create_new_column();
                	} else {
                		this.message = d.status;
                	}
                })
		},
		update_list_header_schema(header_schema_id) { // Links the new header schema with the list
			let url = "/list/header_schema/"+this.list_id+"/"+header_schema_id;
            fetch(url)
                .then((response) => response.json())
                .then((d) => {
                	if ( d.status=="OK" ) {
						this.update_from_source();
                	} else {
                		this.message = d.status;
                	}
                })
		},
		submit_form() { // Creates a new header schema
			this.name = this.name.trim();
			// if ( this.name=="" ) {
			// 	this.message = tt.t("name_required") ;
			// 	return ;
			// }
			if ( this.columns.length==0 ) {
				this.message = tt.t("columns_required") ;
				return ;
			}
			this.message = "";
			let payload = {
				name: this.name,
				json: JSON.stringify({ "columns": this.columns })
			};
			let url = "/header/schema/new?name="+encodeURIComponent(payload.name)+"&json="+encodeURIComponent(payload.json);
            fetch(url)
                .then((response) => response.json())
                .then((d) => {
                	if ( d.status=="OK" ) {
						this.update_list_header_schema(d.header_schema_id);
                	} else {
                		this.message = d.status;
                	}
                })
		} ,
		create_new_column() {
			this.columns.push({
				column_type:"String"
			});
		},
		autoLabel(column) {
			let label = column.column_type;
			if ( column.wiki!=null ) label += " ["+column.wiki+"]";
			if ( column.namespace_id!=null ) label += " [NS "+column.namespace_id+"]";
			return label;
		},
		user() { return user??{is_logged_in:false} }
	} ,
	template:"#create-header-page-template"
} );
</script>