<template id='list-template'>
<div class="container-fluid mt-2">
	<div class="row">
	<div class="col-md-12" v-if="!loading">
        <div class='row'>
            <batch-navigator :batch_size='len' :total='list.total' :current='start/len' :batch_size_options='[25,50,100]' @set-current='move_to(len*$event)' @set-size='set_len($event)'></batch-navigator>
        </div>
		<table v-if="rows.length>0" class="table">
            <tr>
                <th v-for='column in columns'>{{column.label}}</th>
                <th v-if="show_user" tt='user'></th>
            </tr>
            <tr v-for="row in rows" :key="row.row">
                <td v-for="cell,idx in row.c">
                    <cell :value='cell' :header='columns[idx]'></cell>
                </td>
                <td v-if="show_user">
                    <router-link :to="'/user/'+row.user">{{list.users[row.user]}}</router-link>
                </td>
            </tr>
        </table>
        <div class='row'>
            <batch-navigator :batch_size='len' :total='list.total' :current='start/len' :batch_size_options='[25,50,100]' @set-current='move_to(len*$event)' @set-size='set_len($event)'></batch-navigator>
        </div>
	</div>
  </div>
</div>
</template>

<script>
'use strict';


Vue.component ( 'list' , {
    props : ['list','revision_id'] ,
    data : function () { return { start:0, len:25 , rows:[] , columns:[] , loading:true , show_user:false } } , //  list:{},
    created : function () {
        // TODO pre-cache wikidata items
        this.columns = this.list.list.header.schema.columns; // To make access easier
        this.load_rows(()=>this.loading=false)
    } ,
    updated : function () { tt.updateInterface(this.$el) } ,
    mounted : function () { tt.updateInterface(this.$el) } ,
    methods : {
        move_to( new_start ) {
            if ( new_start < 0 ) new_start = 0 ;
            this.start = new_start ;
            this.load_rows(()=>{})
        } ,
        set_len( new_len ) {
            this.len = new_len;
            this.load_rows(()=>{}) 
        } ,
        load_rows(resolve) {
            let url = "/list/rows/"+this.list.list.id+"?start="+this.start+"&len="+this.len;
            if ( typeof this.revision_id!='undefined') url += "&revision_id="+this.revision_id;
            fetch(url)
                .then((response) => response.json())
                .then((d) => this.rows=d.rows)
                .then(resolve)
        }
    } ,
    template:'#list-template'
} );
</script>