<template id='list-template'>
<div class="container-fluid mt-2">
	<div class="row">
	<div class="col-md-12" v-if="!loading">
        <div class='row'>
            <batch-navigator :batch_size='len' :total='list.total' :current='start/len' :batch_size_options='[25,50,100]' @set-current='move_to(len*$event)' @set-size='set_len($event)'></batch-navigator>
        </div>
        <div class="table-responsive-md">
            <table v-if="rows.length>0" class="table table-bordered">
                <tr>
                    <th v-for='column in columns'>{{column.label}}</th>
                    <th v-if="show_user" tt='user'></th>
                </tr>
                <tr v-for="row in rows" :key="get_row_id(row)" :id="get_row_id(row)">
                    <td v-for="column,idx in columns" style="position:relative; padding: 0px;">
                        <cell :value='row.c[idx]' :header='column' :user_can_edit="user_can_edit" @cell-edited="cell_edited(row,idx,$event)"></cell>
                    </td>
                    <td v-if="show_user">
                        <router-link :to="'/user/'+row.user">{{list.users[row.user]}}</router-link>
                    </td>
                </tr>
            </table>
        </div>
        <div class='row'>
            <batch-navigator :batch_size='len' :total='list.total' :current='start/len' :batch_size_options='[25,50,100]' @set-current='move_to(len*$event)' @set-size='set_len($event)'></batch-navigator>
        </div>
	</div>
  </div>
</div>
</template>

<script>
'use strict';


Vue.component ( 'list' , {
    props : ['list','revision_id','user_can_edit'] ,
    data : function () { return { start:0, len:25 , rows:[] , columns:[] , loading:true , show_user:false } } , //  list:{},
    created : function () {
        // TODO pre-cache wikidata items
        this.columns = this.list.list.header.schema.columns; // To make access easier
        this.load_rows(()=>this.loading=false)
    } ,
    updated : function () { tt.updateInterface(this.$el) } ,
    mounted : function () { tt.updateInterface(this.$el) } ,
    methods : {
        move_to( new_start ) {
            if ( new_start < 0 ) new_start = 0 ;
            this.start = new_start ;
            this.load_rows(()=>{})
        } ,
        set_len( new_len ) {
            this.len = new_len;
            this.load_rows(()=>{}) 
        } ,
        load_rows(resolve) {
            let url = "/list/rows/"+this.list.list.id+"?start="+this.start+"&len="+this.len;
            if ( typeof this.revision_id!='undefined') url += "&revision_id="+this.revision_id;
            fetch(url)
                .then((response) => response.json())
                .then((d) => this.rows=d.rows)
                .then(resolve)
        } ,
        get_row_id(row) {
            return 'row_'+row.row;
        },
        cell_edited(row,idx,new_cell) {
            let row_id = this.get_row_id(row);
            $("#"+row_id).addClass("table-active");
            row.c[idx] = new_cell;
            // console.log(JSON.parse(JSON.stringify(row)));
            let url = "/list/row/"+this.list.list.id+"/"+row.row+"?json="+JSON.stringify(row);
            // console.log(url);
            fetch(url)
                .then((response) => response.json())
                .then((d) => {
                    $("#"+row_id).removeClass("table-active");
                    if ( d.status=='OK' ) {
                        row = d.row;
                    } else {
                        alert(d.status);
                    }
                });
        },
    } ,
    template:'#list-template'
} );
</script>