<template id='list-page-template'>
<div class="container mt-2">
	<div class="row">
	<div class="col-md-12" v-if='!loading'>
		<h1>List #{{list_id}}: {{list.list.name}}</h1>
		<div>
			<span>
				Revision
				<select v-model='revision_id' class="form-control" style="display:inline; width:auto;" @change='change_revision'>
					<option v-for='revid in revisions' :value='revid'>{{revid}}</option>
				</select>
			</span>
		</div>
		<list :list='list' :revision_id='revision_id'></list>
	</div>
  </div>
</div>
</template>

<script>
'use strict';


let ListPage = Vue.extend ( {
    props : ['list_id','initial_revision_id'] ,
    data : function () { return { list:{} , revision_id:0 , revisions:[] , loading:true } } ,
    created : function () {
    	this.load_list(()=>this.loading=false)
    },
    updated : function () { tt.updateInterface(this.$el) } ,
    mounted : function () { tt.updateInterface(this.$el) } ,
    methods : {
    	change_revision() {
    		console.log("Loading revision "+this.revision_id);
    		if ( this.revision_id==this.list.list.revision_id ) {
    			// Last (default) revision
    			this.$router.push ("/list/"+this.list.list.id);
    		} else {
    			// Specific revision
	    		this.$router.push ("/list/"+this.list.list.id+"/"+this.revision_id);
    		}
    	} ,
        load_list(resolve) {
        	let url = "/list_info/"+this.list_id;
        	if ( typeof this.initial_revision_id!='undefined') url += "?revison_id="+this.initial_revision_id;
            fetch(url)
                .then((response) => response.json())
                .then((d) => this.list=d)
                .then(() => {
                	if ( typeof this.initial_revision_id=='undefined') this.revision_id=this.list.list.revision_id;
                	else this.revision_id=this.initial_revision_id;
                	this.revisions = [...Array(this.list.list.revision_id+1).keys()];
                	this.revisions.reverse()
                })
                .then(resolve)
        } ,
    } ,
    template:'#list-page-template'
} );
</script>