<template id='main-page-template'>
<div class="container mt-2">
	<div class="row">
	<div class="col-md-12">
		<h1 tt="toolname"></h1>
    	<p tt="tooldesc"></p>

        <div v-if="user().is_logged_in" style="display: flex;">
            <div>
                <router-link to="/list/update/new" tt="create_new_list" class="btn btn-outline-primary"></router-link>
            </div>
            <!--<h2 tt="actions"></h2>
            <ul>
                <li>
                    <router-link to="/create/list" tt="create_new_list"></router-link>
                </li>
            </ul>-->
        </div>
        <div v-else tt="log_in_for_actions"></div>

        <div v-if='no_lists_for_user' tt='no_lists_for_user'></div>
        <div v-else>
            <h2 tt="your_lists"></h2>
            <table class="table">
                <tr>
                    <th>#</th>
                    <th tt='list_name'></th>
                    <th tt='rights'></th>
                </tr>
                <tr v-for='list in user_lists'>
                    <td>
                        <router-link :to="'/list/'+list.id">{{list.id}}</router-link>
                    </td>
                    <td>
                        {{list.name}}
                    </td>
                    <td>
                        {{list.rights}}
                    </td>
                </tr>
            </table>
        </div>
    </div>
  </div>
</div>
</template>

<script>
'use strict';


let MainPage = Vue.extend ( {
    props : [] ,
    data : function () { return { user_lists:[] , no_lists_for_user:false } } ,
    created : function () {
        this.load_user_lists();
    } ,
    updated : function () { tt.updateInterface(this.$el) } ,
    mounted : function () { tt.updateInterface(this.$el) } ,
    methods : {
        load_user_lists() {
            fetch("/auth/lists/write,admin")
            .then((response) => response.json())
            .then((d) => {
                if ( d.status=="OK" ) this.user_lists = d.lists;
                else this.no_lists_for_user = true;
            });
        } ,
        user() { return user??{is_logged_in:false} }
    } ,
    template:'#main-page-template'
} );
</script>