<template id="update-page-template">
	<div class="container mt-2">
	<div class="row" v-if="list_or_new_is_valid">
		<div class="col-md-12">
			<h1 v-if="list_or_new=='new'" tt="import_as_new"></h1>
			<h1 v-else>
				<span tt="update"></span>
				<router-link :to="'/list/'+list_id" tt="list_number" :tt1="list_id"></router-link>
			</h1>

	
			<div v-if="loading"></div>
			<div v-if="existing_sources.length>0">
				<h2 tt="existing_sources"></h2>
				<table class="table">
					<tr>
						<th tt="source_type"></th>
						<th tt="source_format"></th>
						<th tt="source_location"></th>
						<th tt="user"></th>
						<th tt="actions"></th>
					</tr>
					<tr v-for="source in existing_sources">
						<td>{{source.source_type}}</td>
						<td>{{source.source_format}}</td>
						<td>
							<span v-if="source.source_type=='URL'">
								<a :href="source.location" target="_blank" class="external">{{source.location}}</a>
							</span>
							<span v-else-if="source.source_type=='PAGEPILE'">
								# <a :href="'https://pagepile.toolforge.org/api.php?id='+source.location+'&action=get_data&format=html&doit1'" target="_blank" class="external">{{source.location}}</a>
							</span>
							<span v-else>{{source.location}}</span>
						</td>
						<td>
							<router-link :to="'/user/'+source.user_id">{{users[source.user_id]}}</router-link>
						</td>
						<td>
							<div v-if="(source.status??'')==''">
								<button v-if="source.source_type=='URL'" class="btn btn-outline-success" tt_title="update_from_existing_source" @click.prevent="update_from_existing_source(source)">
									<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c7/Icon_-_Update.svg/24px-Icon_-_Update.svg.png" />
								</button>
							</div>
							<div v-else>
								<i>{{source.status}}</i>
							</div>
						</td>
					</tr>
				</table>
			</div>
			<div v-else>
				<i tt="no_existing_sources"></i>
			</div>
	
			<div>
				<h2 tt="create_new_source"></h2>
				<span tt="source_type" style="font-weight: bold;"></span>
				<label>
					<input type="radio" v-model="source_type" value="URL" />
					<span tt="url"></span>
				</label>
				<label>
					<input type="radio" v-model="source_type" value="FILE" />
					<span tt="file"></span>
				</label>
				<label>
					<input type="radio" v-model="source_type" value="PAGEPILE" />
					<span tt="pagepile"></span>
				</label>
	
				<span tt="source_format" style="font-weight: bold; margin-left:3rem;"></span>
				<span v-if="source_type=='PAGEPILE'">
					<span tt="pagepile"></span>
					<a href="https://pagepile.toolforge.org/" target="_blank">ⓘ</a>
				</span>
				<span v-else>
					<label>
						<input type="radio" v-model="source_format" value="CSV" />
						<span tt="csv"></span>
					</label>
					<label>
						<input type="radio" v-model="source_format" value="TSV" />
						<span tt="tsv"></span>
					</label>
					<label>
						<input type="radio" v-model="source_format" value="JSONL" />
						<span tt="jsonl"></span>
						<a href="https://jsonlines.org/" target="_blank">ⓘ</a>
					</label>
				</span>
			</div>
	
			<div v-if="source_type=='URL'">
				<input type="text" v-model="source_url" style="width:100%" tt_placeholder="url" />
			</div>
			<div v-else-if="source_type=='FILE'">
				FILE TODO
			</div>
			<div v-else-if="source_type=='PAGEPILE'">
				<input type="text" v-model="source_url" style="width:10rem;" tt_placeholder="pagepile_id" />
			</div>
			<div style="margin-top: 1rem;">
				<button class="btn btn-outline-primary" tt="create_new_source" @click.prevent="create_new_source" :disabled="!is_valid()"></button>
			</div>
		</div>
	</div>
	<div v-else class="row" tt="invalid_parameter" :tt1="list_or_new">
	</div>
</template>
	
<script>
"use strict";


let UpdatePage = Vue.extend ( {
	props : ["list_or_new"] ,
	data : function () { return { list_or_new_is_valid:false , list_id:0, source_type:"URL" , source_format:"TSV" , source_url:"" ,
		existing_sources:[] , users:{} , loading:true
	} } ,
	created : function () {
		if ( !isNaN(this.list_or_new) ) this.list_id = this.list_or_new*1;
		this.list_or_new_is_valid = !isNaN(this.list_or_new) ; // this.list_or_new=="new" || 
		// TODO check if user has write access
		this.load_existing_sources() ;
	},
	updated : function () { tt.updateInterface(this.$el) } ,
	mounted : function () { tt.updateInterface(this.$el) } ,
	methods : {
		load_existing_sources() {
			if ( this.list_id==0 ) return ;
			let url = "/list/sources/"+this.list_id;
			fetch(url)
				.then((response) => response.json())
				.then((d) => {
					if ( d.status=="OK" ) {
						this.users = d.users;
						this.existing_sources = d.sources;
					} else {
						alert(d.status);
						console.log(d);
					}
					this.loading = false;
				});
		} ,
		update_from_existing_source(source,callback) {
			source.status = 'running';
			let url = "/source/update/"+source.id;
			fetch(url)
				.then((response) => response.json())
				.then((d) => {
					if ( d.status=='OK' ) source.status = '';
					else source.status = d.status ;
					if ( typeof callback!='undefined' ) callback();
				})
		},
		is_valid() {
			if ( this.source_type=="PAGEPILE" ) {
				return !isNaN(this.source_url) && this.source_url!='';
			}
			return this.source_url!='';
		},
		create_new_source() {
			if ( !this.is_valid() ) return ;
			if ( typeof this.list_id!='undefined' ) {
				let source_format = this.source_format;
				if ( this.source_type=="PAGEPILE" ) source_format = this.source_type;
				let url = "/source/create/"+this.list_id+"?type="+encodeURIComponent(this.source_type)+"&format="+encodeURIComponent(source_format)+"&location="+encodeURIComponent(this.source_url);
	            fetch(url)
	                .then((response) => response.json())
	                .then((d) => {
	                	if (d.status=="OK") {
	                		let source = d.data;
	                		this.existing_sources.push(source);
	                		this.update_from_existing_source(source,function(){
	                			window.location.reload();
	                		});
	                	} else {
	                		alert(d.status);
	                	}
	                })
			} else {
				alert("Not implemented");				
			}
		},
	} ,
	template:"#update-page-template"
} );
</script>